.field {
  width: 360px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  flex-wrap: wrap;
  background-color: #434343;
}
