@import "tailwindcss";

@theme {
  --color-asphalt: #242424;
  --color-button-bg: #1a1a1a;
  --color-hover: #646cff;
  --default-transition-timing-function: ease-in-out;
  --default-transition-duration: 0.2s;
}
